.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Nav{
  width: 100%;
  background-color: #111;
  margin-top: 10px;
  text-align: center;
}

.ul {
  
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  .li{
    float: left;
  }

.link{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}


/* Change the link color on hover */
.link:hover:not(.active){
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}




